body{ 
	background-color : #ccff99;
}


header{
	background-color: #95a5a6;
	padding: 5%;
	display: flex;
	
	align-items: center;
	justify-content: center;
}

header img{
	width: 400px;
}

header h1{
	color: white;
	display: block;
	font-size: 70px;
	margin-left: 20px;
}


nav ul li{
	display:inline-block;
	width: 110px;
	color: white;
	text-align:center;
	font-size: 20px;
	text-transform: uppercase;
}

nav ul li a:link, nav ul li a:visited{
	display:block;
	text-decoration:none;
	color: white;
}

nav ul li a:hover{
	display:block;
	text-decoration:under;
	color:#cccfc9;
}

main {
	display: flex;
}

.one{
	background-color: #99ccff;
	flex: 1;
}

.two{
	background-color: #95a5a6;
	flex: 2;
}

.three{
	background-color: #99ccff;
	flex: 1;
}



