.t {  border: solid 1px red; }

header{ background-color: #3CF0C7; height: 250px;}

header h1{ 	color: white; 
			text-align: center;
			padding-top: 100px;
			padding-bottom:100px;
			font-size: 75px;
		}

nav {
		margin-top:-50px;
		
		
	}

nav ul{
	
}

nav ul li{
	
}

nav a {
	color:white;
}

nav a:hover{
	color:grey;
}

.labInfo{text-align: justify;}

div h4 { font-weight: bold;}

.dogsImgSect{
	width:100%;
	height: 350px;
}

.characteristics{text-align: center;}


footer{
		text-align: center;
		color:white;
		height:150px;
		padding-top: 70px;

}

